
.welcomescreen {
    font-size: x-large;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #e8dabf;

}

.enterbutton {
    font-size:x-large;
    font-family: inherit;
    border-radius:10px;
    padding:5px;
    padding-left: 8px;
    padding-right:8px;
    background-color:#e8dabf;
    border-width:2px;
}
.gamescreen {
    font-size:large;
    font-family: "Pixelify Sans", sans-serif;
}

.titletext {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gameguide {
    width: 20%;
}